<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Micro frontend sample</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/add-user'"> Add User </a>
      <a mat-button [routerLink]="'/git'"> Page2 </a>
      <a mat-button [routerLink]="'/page3'"> Page3 </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/workplace'"> Workplace</a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
